<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agency details</title>

    <link rel="icon" type="image/png" href="../static/images/CIP_Icon.png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-mono">
<main>
    <div class="flex flex-col h-screen text-center bg-blue-200 justify-center items-center">
        <h1 class="text-black mb-4 text-4xl bold">{{agency.name}}: Modifying owners</h1>
        <div class="flex-col inset-0 mx-auto border-2 px-4 py-8 bg-white shadow-lg rounded-lg h-3/5 w-3/5 overflow-auto justify-center items-center">
        <select id="selectOwners" multiple class="block w-full h-full px-4 py-2 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-blue-400 focus:ring focus:ring-blue-400">
            {{#existingOwners}}
                <option value="{{id}}">
                    <strong class="text-2xl">{{name}}</strong><br>
                </option>
            {{/existingOwners}}
        </select>
        </div>
        <div class="mt-2 flex flex-row">
            <button onclick="window.location.href='/agency/{{agency.id}}'" class="ml-2 bg-white bg-opacity-50 hover:bg-opacity-100 transition-all duration-300 font-bold text-black py-2 px-3 rounded">
                Back to property details
            </button>
            <button onclick="window.location.href='/agencies'" class="ml-2 bg-white bg-opacity-50 hover:bg-opacity-100 transition-all duration-300 font-bold text-black py-2 px-3 rounded">
                Back to Agencies List
            </button>
        </div>
    </div>
</main>
<script>
    var select = document.getElementById("selectOwners");

    select.addEventListener("click", function(event) {

        event.preventDefault();

        var option = event.target;

        if (option.selected) {
            option.selected = false;
        } else {
            option.selected = true;
        }
    });
</script>

</body>
</html>
