<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agency details</title>

    <link rel="icon" type="image/png" href="/images/CIP_Icon.png">
</head>
<body>

    <h1>{{agency.name}}</h1>
    {{#agency}}
        <list>
            <strong>Phone:</strong> {{agency.phone}}<br>
            <strong>Email:</strong> {{agency.email}}<br>
        </list>
    {{/agency}}
<br>
<form action="/agency/deleteAgency/{{agency.id}}" method="get">
    <button type="submit">Delete Agency</button>
</form>
<button onclick="window.location.href='/agency/modify/{{agency.id}}'">
    Modify Agency
</button>
<br><br>
<a href="/agencies">Agency List</a>
</body>
</html>
