<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agency List</title>

    <link rel="icon" type="image/png" href="/images/CIP_Icon.png">
</head>
<body>
<h1>Agency List</h1>

    <ul>
        {{#agencies}}
            <li>
                <strong>Name:</strong><a href="/agency/{{id}}">{{name}}</a><br>
                <strong>Name:</strong> {{name}}<br>
                <strong>Phone:</strong> {{phone}}<br>
                <strong>Email:</strong> {{email}}<br>
            </li>
        {{/agencies}}
        <br><br>
        <button onclick="window.location.href='/create-agency.html'" class="option">
            Create Agency
        </button>
        <br><br>
        <a href="/">Back to principal page</a>
    </ul>
</body>
</html>