<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create agency</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/CIP_Icon.png">
</head>

<body class="font-mono bg-blue-100">
<main class="font-mono relative w-full h-screen">
    <div class="flex justify-center">
        <h1 class="text-4xl text-black font-bold text-center mt-10 border-2 border-white inline-block py-1 px-1 bg-white bg-opacity-25">Owner details</h1>
    </div>
    <div class ="h-screen">
        <form action="/owner/modify/{{owner.id}}" method="post">
            <fieldset>
                <div class="flex justify-center">
                    <section class="block inset-0 mt-5 mx-auto border-2 px-4 py-8 bg-white shadow-lg rounded-lg h-3/5 w-3/5 overflow-auto">
                        <label for="name" class ="font-bold">Name:</label>
                        <input type="text" id="name" name="name" value="{{owner.name}}" class = "border border-black" required>
                        <br><br>
                        <label for="lastName" class ="font-bold">Last name:</label>
                        <input type="text" id="lastName" name="lastName" value="{{owner.lastName}}" class = "border border-black" required>
                        <br><br>
                        <label for="phone" class ="font-bold">Phone number:</label>
                        <input type="tel" id="phone" name="phone" value="{{owner.phoneNumber}}" class = "border border-black" required>
                        <br><br>
                        <label for="email" class ="font-bold">Email:</label>
                        <input type="email" id="email" name="email" value="{{owner.email}}" class = "border border-black" required>
                        <br><br>
                        <div class="flex justify-center">
                            <button type="submit" class="text-black font-bold bg-blue-300 bg-opacity-50 hover:bg-opacity-100 px-2 py-2 rounded border border-black">Modify Owner</button>
                        </div>
                        <br>
                    </section>
                </div>
                <div class="flex justify-center">
                    <a href="/owners" class="text-black font-bold bg-white bg-opacity-50 hover:bg-opacity-100 py-2 px-4 rounded mt-8 border border-white">Owners list</a>
                </div>
            </fieldset>
        </form>
    </div>
</main>
</body>