<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owners list</title>

    <link rel="icon" type="image/png" href="/images/CIP_Icon.png">
</head>
<body>
    {{#owner}}
        <h1>{{owner.name}} {{owner.lastName}}</h1>

        <list>
            <strong>Phone number:</strong>{{owner.phoneNumber}}<br>
            <strong>Email:</strong> {{owner.email}}<br>
        </list>
    {{/owner}}
    <br>
    <form action="/owner/deleteOwner/{{owner.id}}" method="get">
        <button type="submit">Delete owner</button>
    </form>
    <button onclick="window.location.href='/owner/modify/{{owner.id}}'">
        Modify Owner
    </button>
    <br><br>
    <a href="/owners">Owner List</a>
</body>
</html>