<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property details</title>

    <link rel="icon" type="image/png" href="../static/images/CIP_Icon.png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-mono">
    <main class="flex flex-col h-screen text-center bg-blue-200 justify-center items-center">
        <h1 class="text-black mb-4 text-4xl bold">{{property.name}} Details</h1>
        <div class="flex inset-0 mx-auto border-2 px-4 py-8 bg-white shadow-lg rounded-lg h-3/5 w-3/5 overflow-auto justify-center items-center">
            {{#property}}
                <div id="property_{{property.id}}" class="block px-6 py-4 text-2xl justify-start">
                    <strong>Name:</strong> {{property.name}}<br>
                    <strong>Price:</strong> {{property.price}}<br>
                    <strong>Type:</strong> {{property.type}}<br>
                    <strong>Rooms:</strong> {{property.rooms}}<br>
                    <strong>Bathrooms:</strong> {{property.bathrooms}}<br>
                    <strong>Surface:</strong> {{property.sqMetres}}<br>
                    <strong>Address:</strong> {{property.address}}<br>
                    <strong>Description:</strong> {{property.description}}<br>
                    {{#property.owner}}
                        <strong>Owner:</strong>
                        <select id="selectOwners_{{property.owner.id}}">
                            {{#existingOwners}}
                                <option value="{{id}}">
                                    {{name}}
                                </option>
                            {{/existingOwners}}
                        </select>
                        <button onclick="window.location.href='/owner/{{property.owner.id}}'" class="ml-2 bg-green-300 bg-opacity-50 hover:bg-green-500 transition-all duration-300 text-black text-xl y-2 px-3 rounded">See Owner Details</button>
                    {{/property.owner}}
                    {{^property.owner}}
                        <strong class="font-bold">Owner:</strong> <span class="text-red-500">This property has not owner</span>
                        <button onclick="showPopUp()" class="ml-2 bg-green-300 bg-opacity-50 hover:bg-green-500 transition-all duration-300 text-black text-xl y-2 px-3 rounded">Add Owner</button>
                        <div id="popup" class="hidden inset-0 justify-center items-center border-2 rounded-lg mt-5">
                            <div class="bg-white p-8 rounded-lg border-gray-500 border-2">
                                <h2 class="text-xl font-bold mb-4">Select an Owner</h2>
                                <select class="text-xl rounded-lg bg-blue-100 mb-5" id="selectOwners_none">
                                    <option>       </option>
                                    {{#existingOwners}}
                                        <option value="{{id}}">
                                            {{name}}
                                        </option>
                                    {{/existingOwners}}
                                </select><br>
                                <button onclick="hidePopUp()" class="mt-7 bg-red-300 bg-opacity-50 hover:bg-red-500 transition-all duration-300 text-black text-xl y-2 px-3 rounded">Close</button>
                            </div>
                        </div>
                    {{/property.owner}}

                </div>
            {{/property}}
        </div>
        <div class="mt-2 flex flex-row">
            <button id="deleteButton_{{property.id}}" data-entity="property" class="ml-2 bg-white bg-opacity-50 hover:bg-red-500 transition-all duration-300 font-bold text-black py-2 px-3 rounded">
                Delete Property
            </button>
            <button onclick="window.location.href='/properties'" class="ml-2 bg-white bg-opacity-50 hover:bg-opacity-100 transition-all duration-300 font-bold text-black py-2 px-3 rounded">
                Back to Properties List
            </button>
            <button onclick="window.location.href='/property/modify/{{property.id}}'" class="ml-2 bg-white bg-opacity-50 hover:bg-green-300 transition-all duration-300 font-bold text-black py-2 px-3 rounded">
                Modify Property
            </button>
        </div>
    </main>

    <script src="/scripts/delete.js"></script>
    <script src="/scripts/selectedOwner.js"></script>

</body>
</html>
