<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property details</title>

    <link rel="icon" type="image/png" href="/images/CIP_Icon.png">
</head>
<body>
    {{#property}}
        <h1>{{property.name}}</h1>

            <datalist>
                <strong>Price:</strong> {{property.price}}<br>
                <strong>Type:</strong> {{property.type}}<br>
                <strong>Rooms:</strong> {{property.rooms}}<br>
                <strong>Bathrooms:</strong> {{property.bathrooms}}<br>
                <strong>Surface:</strong> {{property.sqMetres}}<br>
                <strong>Address:</strong> {{property.address}}<br>
                <strong>Description:</strong> {{property.description}}<br>
            </datalist>
    {{/property}}
    <br>
    <form action="/property/deleteProperty/{{property.id}}" method="post">
        <button type="submit">Delete property</button>
    </form>
    <button onclick="window.location.href='/property/modify/{{property.id}}'">
        Modify Property
    </button>
    <br><br>
    <a href="/properties">Property List</a>
</body>
</html>
