<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property List</title>
</head>
<body>
    <h1>Property List</h1>

    <ul>
        <li>
            {{#properties}}
                <strong>Name:</strong><a href="/property/{{id}}">{{name}}</a><br>
                <strong>Price:</strong> {{price}}<br>
                <strong>Type:</strong> {{type}}<br>
                <strong>Rooms:</strong> {{rooms}}<br>
                <strong>Bathrooms:</strong> {{bathrooms}}<br>
                <strong>Surface:</strong> {{sqMetres}}<br>
                <strong>Address:</strong> {{address}}<br>
                <strong>Description:</strong> {{description}}<br>
            {{/properties}}
        </li>
    </ul>
    <br><br>

    <button onclick="window.location.href='/create-property.html'" class="option">
        Create Property
    </button>
    <br><br>
    <a href="/">Back to principal page</a>
</body>
</html>
