@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

a {
    color: sandybrown;
}

.agency-principal {
    background-size: cover;
    background-image: url("../images/Agencies.png");
}

.owner-principal {
    background-size: cover;
    background-image: url("../images/Owners.jpg");
}

.property-principal {
    background-size: cover;
    background-image: url("../images/Properties.jpg");
}

.background-browm {
    background-color: #dcb08e;
}
